<div class="navbar">
    <div class="container">
          <div class="dropdown">
            <button class="dropbtn">
              <i class="fa fa-bars"></i> Catergorias
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#"><i class="fa fa-globe"></i> Idiomas</a>
              <a href="#"><i class="fa fa-microchip"></i> Tecnologia</a>
              <a href="#"><i class="fa fa-music"></i> Musica</a>
            </div>
          </div>
          <div>
              <button type="button" class="btn btn-light">Login</button>
              <button type="button" class="btn btn-light">Cadastre-se</button>
          </div>
    </div>
</div>
