.navbar {
  overflow: hidden;
  background-color: #f7f7f7;
  font-family: Arial;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #2e2e2e;
  padding: 14px 16px;
  background-color: inherit;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  color: #2494db;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #6E6E6E;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
 .btn {
   &:hover {
     background-color: #ddd !important;
     color: #2494db !important;
   }
   background: none !important;
 }
