.sign {
  overflow: hidden;
  background-color: #AEE4F9;
  font-family: Arial;
  color: #fff;
  height: 130px;
  h2 {
    padding-top: 25px;
    text-shadow: 2px 2px 20px #575757;
  }
}
.navbar {
  overflow: hidden;
  font-family: Arial;
  margin: 0 0 0 0;
}
.card {
  border: none !important;
}
.content-top {
  overflow: hidden;
  background-color: #fff;
  height: 400px;
}
.img-top {
  height: 280px;
  width: auto;
}
